<h1>Restaurant Edit Form</h1>

<%= form_for @restaurant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%# <%= f.collection_check_boxes @restaurant.pizzas, :id, :name %> 
    <%# <ul>
        <% @restaurant.pizzas.each do |pizza| %>
            <%# <li> %>
                <%# <%= pizza.name %>
                <%# <%= f.collection_check_boxes :name, Restauran.all, :id, pizza.name%>
            <%# </li> %>
        <%# <% end %>
    <%# </ul><br> %>
    <%= f.submit "Save Restaurant" %>
<% end %>