<h1>Update this Restaurant</h1>
<br>

<div id="restaurant_form">

    <%= form_for @restaurant do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br>
        
        <%= f.label :address %>
        <%= f.text_field :address %><br>

        <%= f.label :pizza_ids, "Choose Pizzas to Serve" %>
        <%= f.collection_check_boxes(:pizza_ids, Pizza.all, :id, :name) %><br>

        <%= f.submit %>
    <% end %>

</div>